body{
    line-height: 1.5;
    font-family: sans-serif;
  }
  *{
    margin:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  img{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 3px;
  }
  .gallery-item:hover {
    transform: scale(1.1);
}
  /*.gallery*/
  .gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    background-color: #2a2932;
    padding: 100px 50px;
  }
  .gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery .gallery-filter .filter-item{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
  }
  .gallery .gallery-filter .filter-item:hover{
    color: rgba(255, 255, 255, .8);
    transform: scale(.9);
  }
  .gallery .gallery-filter .filter-item.active{
    color: #5DA7DB;
    border-color : #5DA7DB;
  }
  .gallery .gallery-item{
    width: calc(100% / 3);
    padding: 15px;
  }
  .gallery .gallery-item-inner img{
    width: 100%;
  }
  .gallery .gallery-item.show{
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .gallery .gallery-item.hide{
    display: none;
  }
  
  /*responsive*/
  @media(max-width: 991px){
    .gallery .gallery-item{
      width: 50%;
    }
  }
  @media(max-width: 767px){
      .gallery .gallery-item{
      width: 100%;
    } 
    .gallery .gallery-filter .filter-item{
      margin-bottom: 10px;
    }
  }


/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    margin-top: -10px;
    box-shadow: inset 0 0 5px grey;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(10, 10, 10, .7); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(10, 10, 10, .6); 
  }
